<ng-container *ngIf="project">
  <h1>ngxe — {{ project.config.name }}</h1>
  <div *ngIf="source">
    {{ source | json }}
    <div>
      <button
        (click)="loadTranslation(translation.locale)"
        *ngFor="let translation of project.config.translations"
      >
        {{ translation.locale }}
      </button>
    </div>
    <div *ngIf="translation">
      <button (click)="saveTranslation()">Save {{ translation.targetLanguage }}</button>
    </div>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Source</th>
        <ng-container *ngIf="translation">
          <th>
            Target
          </th>
        </ng-container>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let unit of source.resources.ngi18n | keyvalue">
        <td>{{ unit.key }}</td>
        <td>{{ unit.value.source }}</td>
        <ng-container *ngIf="translation">
          <td>
            <input type="text" [(ngModel)]="translation.resources.ngi18n[unit.key].target">
          </td>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>
</ng-container>
