<h1 *ngIf="loading">Loading...</h1>

<div *ngIf="backendless && !project.data" class="backendless">
  <h1>ngxe editor</h1>
  <button appFileHolder>
    <input
      (select)="loadFromFile($event)"
      appFile
      type="file"
      accept="application/json"
    >
    📥 Import Project from JSON
  </button>
  <p>
    Project it is a "*.ngxe-project.json" file.<br>
    You can generate it from your sources using ngxe.<br>
    <a href="https://github.com/navix/ngxe">More info</a>
  </p>
</div>

<ng-container *ngIf="project.data && project.currentTranslation">
  <div class="head">
    <div class="main">
      <h1 class="title">{{ project.data.config.name }}</h1>
      <div class="actions">
        Locales:
        <button
          (click)="project.setCurrent(translation.locale)"
          *ngFor="let translation of project.data.output.translations"
          [class.-active]="translation.locale === project.currentTranslation.locale"
        >
          {{ translation.locale }}
        </button>
        |
        <button (click)="exportCsv()">📤 Export <strong>{{ project.currentTranslation.locale }}</strong> to CSV</button>
        <button appFileHolder>
          <input
            (select)="importCsv($event)"
            appFile
            type="file"
            accept="text/csv"
          >
          📥 Import <strong>{{ project.currentTranslation.locale }}</strong> from CSV
        </button>
        |
        <button (click)="export()">📤 Export Project to JSON</button>
        <button appFileHolder>
          <input
            (select)="import($event)"
            appFile
            type="file"
            accept="application/json"
          >
          📥 Import Project from JSON
        </button>
        <ng-container *ngIf="!backendless">
         |
          <button (click)="save()">💾 Save Project</button>
        </ng-container>
        <div>
        </div>
      </div>
    </div>
    <div class="side">
      <select (ngModelChange)="saveTheme($event)" [(ngModel)]="themeClass" class="theme-picker" name="theme">
        <option value="-light">Light theme</option>
        <option value="-solar">Solar theme</option>
        <option value="-dark">Dark theme</option>
      </select>
      <div class="stats">
        <div>Current locale: <b>{{ project.currentTranslation.locale }}</b></div>
        <div>Total messages: <b>{{ project.stats.total }}</b></div>
        <div>
          New:
          <b>{{ project.stats.new }}</b>,
          Changed: <b>{{ project.stats.changed }}</b>,
          Deleted: <b>{{ project.stats.deleted }}</b>,
          No translations: <b>{{ project.stats.emptyTarget }}</b>
        </div>
      </div>
    </div>
  </div>
  <app-table
    *ngIf="project.table && project.stats && project.currentTranslation"
    [currentTranslation]="project.currentTranslation"
    [stats]="project.stats"
    [table]="project.table"
    class="table"
  >
    Crafted by Oleksa Novyk.
    <a href="https://github.com/navix/ngxe" target="_blank">GitHub</a>.
  </app-table>
</ng-container>
